.listSize {
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 8px;
  font-size: 1rem;
}

.listSize select {
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  background: linear-gradient(90deg, var(--color-1) 25%, var(--color-2) 100%);
  color: var(--color-4);
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
}

.listSize option {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--color-2);
}
